@model IEnumerable<InkInc.Models.Parlor>
@using Microsoft.AspNetCore.Identity
@using InkInc.Models


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Parlors</h1>

<form asp-controller="Parlors" asp-action="Index">
    <input type="text" name="searchParlorLocation" placeholder="Search parlor by city or state" size="25">
    <input type="submit" value="Search" />
</form>

<hr />

<div class="row">
@foreach (var item in Model)
{
        <div class="card mr-3 mb-3" className="parlorCard">
            <div class="card-header">
                <a asp-action="Details" asp-route-id="@item.ParlorId">@item.Name</a>
            </div>
            <div class="card-body">
                @Html.DisplayFor(modelItem => item.FullAddress)
            </div>
        </div>
}
</div>

