@model IEnumerable<InkInc.Models.User>

        @{
    ViewData["Title"] = "Index";
        }

<h1 class="main-title">Welcome to Ink Inc.!</h1>
<img src="~/icons/octopus.png" alt="icon" height="350" width="350" class="octopus">
<br />
<br />
<p>We know how important finding the right tattoo artist is, and how important it is for artists to have a strong digital media presence.</p>       
<p>Our mission is to connect clients and artists based on location, interests, and style.</p>
<p><strong>Tattoo seekers:</strong> no need to make an account, you are able to start browsing at any time using the tabs or search field in the navigation bar.</p> 
<p><strong>Tattoo artists:</strong> register or login and start boosting your business today. </p>
<br />
<p>We hope this will be the beginning of a beautiful relationship.</p>



